/*
 * body > ul#mediaListElement > li.mediaElement
 */
li.mediaElement {
	padding: 2px;
	margin: 0px;
	list-style-type: none;
}

li.mediaElement:nth-child(odd) {
	background-color: #d1e3ed;
}

/*
 * body > ul#mediaListElement
 */
#mediaListElement {
	padding: 2px;
	margin: 0px;
}


/*
 * body > ul#mediaListElement > li.mediaElement > ul.mediaActionsListElement
 */
li.mediaElement .mediaActionsListElement {
	padding: 2px;
	margin: 0px;
	margin-left: 20px;
	list-style-type: none;

	-moz-transition-property: max-height, opacity, visibility;
	-moz-transition-duration: 3s, 2s, 0.2s;
	-moz-transition-delay: 0s, 1s, 1s;
	max-height: 0px;
	opacity: 0;
	visibility: hidden;
}

li.mediaElement:hover .mediaActionsListElement {
	-moz-transition-property: max-height, opacity, visibility;
	-moz-transition-duration: 0.5s, 2s, 0.2s;
	-moz-transition-delay: 0.4s, 0.4s, 0.4s;
	max-height: 200px;
	opacity: 1;
	visibility: visible;
}


